.bg-warning {
  background-color: rgb(103, 1, 103) !important;
}

.purpletext {
  color: purple !important;
  text-decoration: none !important;
}

.greytext {
  color: #868e96;
}

.title {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 2rem;
  text-transform: uppercase;
  color: #343a40;
}

.subtext {
  font-size: 1.66rem !important;
  font-weight: 700;
}

.social-icons .social-icon:hover {
  background-color: purple !important;
}

h2,
h3 {
  text-transform: lowercase !important;
}
